* {
    text-transform: capitalize;
    margin: 0;
    font-weight: 600;
}



.box-1 {
    display: flex;
    background: linear-gradient(to top, white, blue)
}

.conteiner-1-img {
    mask-image: linear-gradient(to bottom, transparent, white 60%), linear-gradient(to left, transparent, white 20%), linear-gradient(to top, transparent, white 10%);
    mask-composite: intersect;
    -webkit-mask-composite: source-in;
    /* necesario para Chrome */
    width: 60%;

}

.img-1 {
    width: 100px;
}

.img-1 img {
    width: 300px;
}


.menu-1 {
    transform: translateX(700px);
}

.menu-1 ul li {
    font-weight: 600;
    list-style: none;
    position: relative;
    display: inline-block;
    transition: transform 0.2s;
    cursor: pointer;
}

.menu-1 ul li:hover {
    transform: translateY(-5px);
}

.menu-1 ul li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: aqua;
    transition: width 0.2s;
}

.menu-1 ul li:hover::after {
    width: 100%;
}


.menu-1 li {
    margin: 20px;
}

.menu-1 {
    margin-top: 20px;
    margin-bottom: 30px;
}

.menu-1 a {
    font-size: 30px;
    color: black;
    text-decoration: none;
    transition: 0.8s ease;
}

.menu-1 a:hover {
    transition: 0.5s ease;
    color: white;
}

.menu-1 li {
    list-style-type: none;
}

.conteiner-1 {
    margin-top: 3 0px;
    display: flex;
}

.conteiner-1-ctd {
    font-size: large;
    margin-right: 50px;
}

.conteiner-1 h1 {
    margin-right: 50px;
    text-align: center;
    color: blue;
}

.conteiner-2 {
    margin-bottom: 100px;
    display: flex;
}

.conteiner-2 h1 {

    text-align: center;
    color: blue;
}

.conteiner-2-ctd {
    font-size: large;
}

.conteiner-2-img {
    mask-image: linear-gradient(to bottom, transparent, white 0%), linear-gradient(to left, transparent, white 0%), linear-gradient(to top, transparent, white 0%),linear-gradient(to right,transparent,white 0%);
    mask-composite: intersect;
    -webkit-mask-composite: source-in;
    margin-left: 130px;
    width: 500px;
}

.conteiner-2-img img {
    width: 100%;
}

footer{
    height: 100%;
    width: 100%;
    display: inline-flex;
    background: linear-gradient(to bottom, white, blue)
}

footer a{
    color: black;
    text-decoration: none;
}

footer li{

    padding: 10px 15px;
    margin: 8px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.3s;
    font-weight: 600;

}

.conteiner-3{
    margin-bottom: 100px;
    height: 300px;
    background:linear-gradient(to right,transparent,blue, white),linear-gradient(to left,transparent,blue,white);
}

.conteiner-4-img img{
    width: 300px;
}

